/* stylelint-disable color-no-hex */
$color--header-background: #fff;
$color--nav-border: #ccc;
$color--nav-hover: #f6f6f6;
$color--nav-text: #000;
$color--nav-group: #999;
/* stylelint-enable */

@import "./header";
@import "./method";

html {
  font-size: 14px;

  @media only screen and (min-width: 480px) {
    font-size: 16px;
  }
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  text-size-adjust: none; //correct text heights on iPhone
}

main {
  margin: 1em 0 2em;
}
