html {
    font-size: 14px;

    @media only screen and (min-width: 480px) {
        font-size: 16px;
    }
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    text-size-adjust: none; //correct text heights on iPhone
}

header {
    background: rgba(#fff, .9);
    padding-bottom: 1em;
    position: sticky;
    top: 0;

    .logo {
        float: left;
        height: 60px;
        margin: 0 1em;
    }

    nav {
        align-items: center;
        display: flex;
        font-size: 16px;
        height: 60px;

        .title {
            cursor: pointer;
            font-size: 1.5em;
            font-weight: 700;
            margin: 0;
            padding: .5em 0;

            .fa-angle-down {
                color: #999;
                margin-left: .25em;
                position: relative;
                top: 3px;
            }
        }

        .nav-item {
            .dropdown {
                background: #fff;
                border: 1px solid #ccc;
                border: 1px solid rgba(0, 0, 0, .15);
                border-radius: 4px;
                box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
                display: none;
                list-style: none;
                margin: 0;
                min-width: 160px;
                padding: 1em 0;
                position: absolute;
                top: 75%;

                .nav-subitem {
                    a {
                        color: #000;
                        display: block;
                        padding: .5em 20px;
                        text-decoration: none;

                        &:hover {
                            background: #f6f6f6;
                        }
                    }

                    &.group {
                        border-bottom: 1px solid #ccc;
                        color: #999;
                        font-size: .75em;
                        font-weight: 700;
                        margin: 2em 20px .5em;

                        &:first-of-type {
                            margin-top: 0;
                        }
                    }
                }

                &.show {
                    display: block;
                }
            }
        }
    }
}

main {
    margin: 1em 0 2em;
}

.stage-list {
    margin: 0 1em;

    .stage {
        clear: both;
        margin-top: 3em;

        h2 {
            font-size: 1.25em;
            border-bottom: 1px solid #ccc;
            margin-top: 0;
        }

        &:first-of-type {
            margin-top: 0;
        }
    }
}

.case-list {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;

    @media only screen and (min-width: 480px) {
        grid-template-columns: repeat(auto-fit, 12.25em);
    }

    @media only screen and (min-width: 1024px) {
        grid-template-columns: repeat(auto-fit, 11.25em);
    }

    @media only screen and (min-width: 1200px) {
        grid-template-columns: repeat(auto-fit, 10em);
    }

    .case {
        text-align: center;

        img {
            height: auto;
            width: 70%;

            @media only screen and (min-width: 375px) {
                min-height: 117px;
            }

            @media only screen and (min-width: 480px) {
                min-height: 137px;
            }

            @media only screen and (min-width: 1024px) {
                min-height: 126px;
            }

            @media only screen and (min-width: 1200px) {
                min-height: 112px;
            }
        }

        .name {
            color: #999;
            font-size: .75em;
            font-weight: 700;
            text-transform: uppercase;

            @media only screen and (max-width: 480px) {
                font-size: .875em;
            }
        }

        &.two {
            grid-column: span 2;
        }
    }
}