html {
    font-size: 14px;

    @media only screen and (min-width: 480px) {
        font-size: 16px;
    }
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-size-adjust: none; //correct text heights on iPhone
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.method {
    h1 {
        background: #ebebeb;
        font-size: 1.5em;
        margin-top: 2em;
        padding: .5em;
    }

    &:first-of-type {
        h1 {
            margin-top: 0;
        }
    }
}

.stage-list {
    margin: 0 0 0 1em;

    .stage {
        clear: both;

        h2 {
            font-size: 1.125em;
        }
    }
}

.case-list {
    display: flex;
    flex-flow: row wrap;

    .case {
        margin: 0 1em 1em 0;
        text-align: center;

        img {
            height: auto;
            width: 80%;
        }

        &.one {
            width: calc((100% / 3) - 1em);
        }

        &.two {
            width: calc(((100% / 3) * 2) - 1em);
        }
    }
}